@use "../../styles/partials/_variables.scss" as *;

.header {
  //   &__container {
  //     display: flex;
  //   }
  &__logo {
    height: 1.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__subsection {
    display: flex;
    justify-content: center;
  }
  &__search-bar {
    background-image: url(../../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
    padding-left: 90px;
    background-color: #fff;
    border: 1px solid $Mercury;
    box-shadow: none;
    border-radius: 4px;
  }
  &__avatar {
    margin-left: 1rem;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
  }
  &__button {
    background-image: url(../../assets/icons/upload.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
    background-color: $BrainFlix-Blue;
    border: $BrainFlix-Blue;
    margin: 1rem;
    color: $White;
    padding: 16px;
    width: 290px;
    min-height: 1rem;
    box-shadow: none;
    border-radius: 4px;
    &:hover {
      background-color: $Brainflix-Darkblue;
      border: $Brainflix-Darkblue;
    }
  }
}
