@use "../../styles/partials/variables" as *;
@import "../../styles/partials/mixins";

.publish-video {
  margin-top: -5px;
  border-top: solid 1px $Mercury;
  &__container {
    padding: 0 16px 0 16px;
    @include tablet {
      text-align: start;
      padding: 0 24px 0 24px;
    }
    @include desktop {
      text-align: start;
      padding: 0 97px 0 97px;
    }
  }
  &__title {
    &-main {
      margin-top: 1.7rem;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: $BrainFlix-Black;
      text-align: start;
      @include tablet {
        padding-bottom: 0.9375rem;
        border-bottom: 1px solid $Mercury;
        font-size: 33px;
        line-height: 44px;
        font-weight: 700;
      }
    }

    &-thumbnail {
      text-align: start;
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      color: $Silver;
      margin-bottom: 0.125rem;
      @include tablet {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
      }
    }
  }

  &__subsection {
    text-align: start;
    @include tablet {
      padding-bottom: 1.25rem;
    }
    @include desktop {
      padding-left: 1.6875rem;
      border-bottom: 0px;
      margin-top: -2.25rem;
    }
  }
  &__subtitle {
    &-video {
      text-align: start;
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      color: $Silver;
      margin-bottom: 0.1875rem;
      @include tablet {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
      }
      &--comment {
        &:focus {
          outline: none;
          border: solid 2px $BrainFlix-Blue;
        }
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        padding-top: 0.5rem;
        padding-bottom: 0.4375rem;
        width: 86vw;
        padding-left: 0.5rem;
        background-color: $Alabaster;
        border: 1px solid $Mercury;
        box-shadow: none;
        border-radius: 0.25rem;
        text-align: left;
        @include tablet {
          width: 90vw;
        }
        @include desktop {
          width: 51vw;
        }
      }
    }
    &-description {
      margin-top: 1rem;
      margin-bottom: 0.1875rem;
      text-align: start;
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      color: $Silver;
      @include tablet {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
      }
      @include desktop {
        margin-top: 1.8rem;
      }
      &--comment {
        &:focus {
          outline: none;
          border: solid 2px $BrainFlix-Blue;
        }
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        width: 86vw;
        padding-left: 0.5rem;
        background-color: $Alabaster;
        border: 1px solid $Mercury;
        box-shadow: none;
        border-radius: 0.25rem;
        text-align: left;
        padding-top: 0.5rem;
        padding-bottom: 3.125rem;
        @include tablet {
          width: 90vw;
        }
        @include desktop {
          @include desktop {
            width: 51vw;
          }
          padding-bottom: 6.25rem;
        }
      }
    }
  }
  &__thumbnail {
    height: 10.9375rem;
    width: 17.9375rem;
    border-radius: 5px;
    object-fit: fill;
    border-radius: 10px;
    @include tablet {
      height: 30vw;
      width: 50vw;
    }
    @include desktop {
      height: 15rem;
      width: 27rem;
    }
  }

  &__button {
    &--publish {
      font-size: 13px;
      font-weight: 400;
      line-height: 10px;
      background-image: url(../../assets/icons/publish.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-position-x: 10px;
      background-color: $BrainFlix-Blue;
      border: $BrainFlix-Blue;
      margin: 1rem;
      color: $White;
      padding: 1rem;
      margin: 1.5rem 0 1rem 0;
      width: 287px;
      box-shadow: none;
      border-radius: 0.25rem;
      &:hover {
        background-color: $Brainflix-Darkblue;
        border: $Brainflix-Darkblue;
      }
      @include tablet {
        margin: 0;
        width: 10.9375rem;
      }
    }
    &--cancel {
      &-mobile {
        font-size: 13px;
        font-weight: 400;
        line-height: 10px;
        background-image: url(../../assets/icons/publish.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-position-x: 10px;
        color: $BrainFlix-Blue;
        border: $BrainFlix-Blue;
        margin: 0.5rem 1rem 1rem 1rem;
        background-color: $White;
        padding: 1rem;
        width: 15rem;
        box-shadow: none;
        border-radius: 0.25rem;
        @include tablet {
          display: none;
        }
      }
      &-tablet {
        display: none;
        @include tablet {
          display: block;
          font-size: 13px;
          font-weight: 400;
          line-height: 10px;
          background-image: url(../../assets/icons/publish.svg);
          background-repeat: no-repeat;
          background-position: left center;
          background-position-x: 10px;
          color: $BrainFlix-Blue;
          border: $BrainFlix-Blue;
          background-color: $White;
          padding: 1rem;
          width: 10.9375rem;
          box-shadow: none;
          border-radius: 0.25rem;
        }
      }
    }
    &--container {
      @include tablet {
        display: flex;
        justify-content: end;
        margin: 1.5rem 1.8rem 0 1.5rem;
        max-width: 95vw;
      }
      @include desktop {
        padding-top: 3rem;
        max-width: 200rem;
        margin-right: 0rem;
      }
    }
    &--divider {
      display: none;
      @include tablet {
        display: block;
        border-bottom: 1px solid $Mercury;
        padding-bottom: 1.5rem;
        margin: 0rem;
        max-width: 92vw;
      }
      @include desktop {
        padding: 0;
        margin: 0;
        border-bottom: 0;
      }
    }
  }
  &__desktop--container {
    text-align: start;
    @include desktop {
      display: flex;
    }
  }
}
.publish-video__button--desktop-divider {
  display: none;
  @include desktop {
    display: block;
    width: 86vw;
    border: 1px solid $Mercury;
    margin-top: -5.5rem;
  }
}
